*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body.active{
    overflow: hidden;
}

:root{
    --roboto: roboto;
    --monserrat: montserrat;
    font-weight: 500;
    --white: #fff;
    --black: #000;
    --green: #a1d433;
    --gradient: linear-gradient(#7a3adb9a,#6048fe96);
    --capitalize: capitalize; 
    --transition: all .6s ease-in;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white)
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.js-b{
    justify-content: space-between;
}

.js-a{
    justify-content: space-around;
}

.ai-c{
    align-items: center;
}

.title{
    font-family: var(--monserrat);
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #fff;
    line-height: 4rem;
}

.text{
    color: #fff;
    font-family: var(--roboto);
    line-height: 33px;
    font-weight: 400;
}

.text.black{
    color: rgb(150, 150, 150);
}

.container{
    width: 85%;
    margin: 0 auto;
}

.bg{
    background: var(--green);
}

.col-6{
    width: 50%;
}


.btn{
    font-family: var(--roboto);
    font-size: 1rem;
    font-weight: 300;
    -webkit-text-stroke: 1px;
    text-transform: var(--capitalize);
    padding: 1.1rem 2.5rem;
    text-align: center;
    transition:var(--transition);
    outline: none;
    border: none;
}

.transparent.btn:hover{
    border: 1px solid transparent;
}

.bg.btn:hover{
    color: #000;
}

.m-3{
    margin: 3rem 0;
}


.transparent{
    border: 1px solid #fff;
    margin: 15px;
}


.black{
    color: #000;
}

.load{
    width: 100%;
    height: 100vh;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#7a3adb,#6048fe);
    position: fixed;
    transition: var(--transition);
}

.load.active{
    opacity: 0;
}

.wrapping{
    width: 100px;
    height: 100px;
    background: url(../img/logo.png) center/cover;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 0px 0px 5px #0000004d;
    position: relative;
}

.wrapping::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 0;
    z-index: 9999999;
    background: url(../img/logo.png) center/cover;
    border-radius: 50%;
    animation: loading 1s linear infinite both;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@keyframes loading {
    0%{
        border: 10px solid #fff;
        height: 0;
        width: 0%;
        filter: blur(2.5px);
    }
    100%{
        border: 0px solid #fff;
        width: 100%;
        filter: blur(0px);
        height: 100%;
    }
}

header{
    width: 100%;
    height: 850px;
    background:  var(--gradient) , url(../img/headerBg.png) no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 97%);
    background-size: cover;
}

nav{
    padding: 1.5rem 0;
}

.none{
    display: none;
}

.logo a img{
    width: 3.5rem;
}

.logo a {
    font-family: var(--roboto);
    font-size: 1.5rem;
    text-transform: var(--capitalize);
    color: #a1d433;
}

.menu_link li a{
    padding: .8rem 1rem;
    font-family: var(--roboto);
    font-weight: 300;
    text-transform: var(--capitalize);
    font-size: 1rem;
    transition: var(--transition);
    -webkit-text-stroke: 1px;
    position: relative;
}

.menu_link li a::before{
    content: '';
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: var(--transition);
}


.menu_link li a:hover::before{
    width: 100%;
}

.banner{
    position: relative;
    width: 100%;
    height: 100%;
}

.content{
    position: absolute;
    right: 15%;
    top: 30%;
    transform: translateY(-30%) translateX(15%);
}

#services{
    padding: 5rem 0;
}

#services .text{
    font-weight: 400;
}

#services .title{
    font-size: 20px;
}

#services .col-6:nth-child(1){
    width: 34%;
}

#services .col-6:nth-child(2){
    width: 60%;
}


.card{
    width: 21rem;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
    padding: 30px 20px;
    display: flex;
    margin-bottom: 30px;
}

.card-text{
    width: 220px;
}

.card .img img{
    width: 3rem;
}

.card .title{
    line-height: 50px;
}

.card .text{
    font-size: .8rem;
    line-height: 25px;
}

#story{
    width: 100%;
    height: 1000px;
    background: var(--gradient), url(../img/watchBg.png) no-repeat center/cover;
    clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 28%);
    background-position-y: bottom;
    position: relative;

}

#story .title , .play-img{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-60%);
}

.play-img {
    top: 45%;
    transform: translate(-50%,-45%);
}

.play-img img{
    width: 8rem;

}

.video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
    pointer-events: none;
}
.video video{
    width: 0;
    height: 0;
    transition: var(--transition);
    pointer-events: none;
    outline: none;
    border: none;
    position: relative;
}


.video video.active{
    width: 400px;
    position: relative;
    height: 400px;
    z-index: 10;
    pointer-events: all;
}

.video span{
    position: absolute;
    content: "";
    width: 400px;
    height: 100px;
    display: none;
    background: #000;
    bottom: 0;
    z-index: 99999999999;
    left: 0;
    pointer-events: none;
    opacity: 0;
}

.video video.active ~ span{
    pointer-events: all;
    opacity: 1;
    display: block;
}

.center{
    margin: 0 auto;
    text-align: center;
}

.progress-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}

.progress{
    background: url(../img/white.png) center/cover no-repeat;
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.skills_name{
    font-size: 1.2rem;
}

.skills_name > .text.black{
    color: rgb(24, 24, 24);
}

.percent.black{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(24, 24, 24);
}

.progress::before{
    content: "";
    position: absolute;
    background: url(../img/orange.png) center/cover no-repeat;
    width: 150px;
    height: 150px;
    left: 0;
    top: 0;
}

.illustrator.progress::before{
    background: url(../img/purple.png) center/cover no-repeat;
}

.photoshop.progress::before{
    background: url(../img/blue.png) center/cover no-repeat;
}

.indesign.progress::before{
    background: url(../img/skyblue.png) 100% 100% no-repeat;
}

.effects.progress::before{
    background: url(../img/fire.png) center/cover no-repeat;
}

#portfolio{
    background: rgb(250,250,255);
    height: 1500px;
    width: 100%;
    padding: 15rem 0;
    clip-path: polygon(100% 0, 100% 84%, 0 100%, 0 17%);
}

.img_container{
    justify-content: center;
    width: 100%;
}

.img-bg{
    margin: 1rem;
    width: 330px;
    height: 370px;
    overflow: hidden;
    position: relative;
}

.img-bg::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to left,#7a3adb50,#6048fe48);
    width: 100%;
    height: 100%;
    z-index: 1;
}


.img-bg img{
    width: 600px;
    height: 370px;
    transform: translateX(-45%);

}

.img-bg.width{
    height: 300px;
}

.img-bg.width img{
    height: 300px;
    width: 500px;
    transform: translateX(-5%);
}

.img-bg:nth-child(5){
    margin-top: -3.4rem;
}

.img-bg:nth-child(5) img{
    width: 600px;
    height: 400px;
    transform: translateX(-10%);
}

.menu_links{
    width: 769px;
    margin: 0 auto;
    padding: 3rem;
}

.menu_links ul li{
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: capitalize;
    color: rgb(24, 24, 24);
    font-family: var(--roboto);
    padding: 1rem 0;
    cursor: pointer;
}

.menu_links ul li.active {
    color: var(--green);
    transition: var(--transition);
    position: relative;
}

.menu_links ul li.active::before{
    content: "";
    position: absolute;
    transition: var(--transition);
    left: 0;
    bottom: 0;
    width: 50%;
    height: 2px;
    background: var(--green);
}

#reviews{
    height: 600px;
    position: relative;
}

.slide{
    width: 1200px;
    margin: 0 auto;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0;
    width: 1200px;
    position: absolute;
    opacity: 0;
    transition: var(--transition);
}

.card-container.active{
    opacity: 1;
}


.card-container .card{
    flex-direction: column;
    width: 23rem;
}

.card-container .card .title{
    font-size: 1rem;
    line-height: 15px;
}

.avatar{
    width: 60px;
    height: 60px;
    background: url(../img/pexels-photo-42.png) center/cover no-repeat;
    border-radius: 50%;
    margin: 1rem 0;
}

.farid.avatar{
    background: url(../img/farid.jpg) center/cover no-repeat;
}

.abbos.avatar{
    background: url(../img/abbos.jpg) center/cover no-repeat;
}

.avatar-name{
    margin: .7rem 0rem 0 0.9rem;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,20px);
}

.line{
    background-color: var(--green);
    width: 50px;
    height: 4px;
    border-radius: 5px;
    opacity: .3;
    transition: var(--transition);
    cursor: pointer;
}

.line.active{
    opacity: 1;
}

.project{
    background: #fafaff;
    padding: 5rem 0;
    margin-top: 5rem;
}

.project .title h3{
    font-size: 1.5rem;
    text-transform: none;
    font-weight: 700;
    color: #3f3f3f;
}


footer{
    background: linear-gradient(to left,rgb(92,80,242),rgb(112,68,211));
    padding: 5rem 0;
    padding-bottom: 2rem;
}

.footer-item{
    width: 270px;
}

.footer-item .title{
    font-size: 1.2rem;
}

footer ul li a {
    font-family: var(--roboto);
    font-weight: 300;
    -webkit-text-stroke: .5px;
    line-height: 30px;
    font-size: .9rem;
}

footer ul li a img{
    width: 40px;
    height: 30px;
    padding-left: 10px;
}

footer input{
    width: 215px;
    padding: 1rem;
    border: none;
    outline: none;
    font-size: .7rem;
}

form button{
    cursor: pointer;
    border: none;
    outline: none;
    padding: 6px 10px;
    background: var(--green);
}

form button img{
    width: 30px;
}

.img-box{
    padding: 1rem;
    border-radius: 50%;
     border: 1px solid #fff;
}

#contact{
    padding: 2rem 0 0 0 ;
    margin-top: 2rem;
    border-top: 1px solid #fff;
}

.img-box img{
    width: 20px;
}

@media (max-width: 1329px){
    .card{
        width: 18rem;
    }
    .container{
        width: 90%;
    }
    .card .img img{
        width: 35px;
        margin-top: 10px;
        margin-right: 10px;
    }

}
@media (max-width: 1265px) {

    .title{
        font-size: 1rem;
    }

    .text{
        font-size: 1rem;
    }

    .container{
        width: 93%;
    }

    .card-container{
        width: 991px;
        overflow: hidden;
        margin: 2rem auto;
    }

    .card-container .card{
        width: 19rem;
    }

    #portfolio{
        height: 100rem;
    }

    .img_container{
        align-items: center;

    }

    .img-bg.width:nth-child(2){
        margin-top: -3rem;
    }

    .img-bg{
        width: 250px;
    }

    .img-bg img{
        width: 600px;
        transform: translateX(-300px);
    }

    .img-bg.width img{
        width: 400px;
        height: 300px;
    }
}

@media only screen and (max-width: 1030px){
    .card-container{
        width: 991px;
    }
    .container{
        width: 97%;
    }
    .card-container .card{
        width: 15rem;
    }
}

@media only screen and (max-width: 991px){
    .none{
        display: block;
        cursor: pointer;
    }

    .none img{
        width: 30px;   
        
    }
    .menu_link{
        position: absolute;
        top: -100%;
        left: -100%;
        background: linear-gradient(#7a3adb,#6048fe);
        height: 600px;
        width: 100%;
        z-index: 999999;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 3rem;
        align-items: center;
        transition: var(--transition);
    }

    .menu_link.active{
        left: 0%;
        top: 0%;
    }

    #services.row{
        flex-direction: column;
    }
    .progress-container{
        flex-direction: column;
    }
    .skills-progress{
        margin-bottom: 3rem;
    }
    .menu_links .row{
        flex-direction: column;
    }

    .menu_links ul li{
        padding-top: 2rem;
        cursor: pointer;
    }

    .menu_links{
        height: 7rem;
        overflow: hidden;
        transition: var(--transition);
    }

    .portfolio-menu{
        filter: invert(1);
        cursor: pointer;
    }

    .menu_links.active{
        height: 29rem;
    }
    #reviews{
        height: 1100px; 
    }
    #portfolio{
        height: 240rem;
        overflow: hidden;
        padding-top: 40rem;
    }

    .img_container.row{
        flex-direction: column;
    }

    .img-bg{
        width: 300px;
    }

    .img-bg:nth-child(5){
        margin-top: 1rem;
    }

    .img-bg:nth-child(5) img{
        width: 600px;
        height: 400px;
    }
    .img-bg.width:nth-child(2){
        margin-top: 1rem;
    }
    .card-container{
        flex-direction: column;
        width: 100%;
    }
    .card-container .card{
        width: 25rem;
    }
    footer .container .row{
        flex-direction: column;
    }
    footer .container .ai-c{
        align-items: start;
    }  
    .footer-item{
        margin: auto;
    }  
    .col-6{
        width: 100%;
    }


    #services .col-6:nth-child(1) {
        width: 100%;
    }
    .menu_links .ai-c{
        align-items: start;
    }
    
}

@media only screen and (max-width: 425px) {
    .logo a.row{
        flex-direction: column;
    }
    .video video.active{
        width: 250px;
        height: 250px;
    }
    .video video.active ~ span{
        width: 250px;
        height: 60px;
    }
    .card-container .card{
        width: 270px;
    }

}

@media only screen and (max-width: 320px){
    .card{
        width: 260px;
    }
    .btn{
        padding: 0.7rem 0.8rem;
        font-size: .8rem;
    }
    .title{
        font-size: .7rem;
        line-height: 30px;
    }
}